.App {
  text-align: center;
  background-color: #fff4e3;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/images/clouds.jpg');
}